bandit==1.8.6
certifi==2025.11.12
charset-normalizer==3.4.4
gitdb==4.0.12
GitPython==3.1.45
idna==3.11
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.0.2
pandas==2.3.3
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
rich==14.2.0
six==1.17.0
smmap==5.0.2
stevedore==5.5.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==1.26.20
textual==0.86.1
customtkinter==5.2.2
Pillow==5.2.2
